__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
dist/
build/

# Data
data/raw/
data/processed/
data/quarantine/

# Artifacts
artifacts/
reports/
mlruns/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
